@model MyEvernote.Entities.EvernoteUser

@{
    ViewBag.Title = "Profiliniz";
}


<div class="container">
    <br />
    <div class="row ml-1">
        <h2>@ViewBag.title</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/@Model.ProfileImageFileName" class="rounded-circle" width="130" height="130" />
        </div>
        <br />
        <div class="col-md-8">
            <h4>@(Model.Name + " " + Model.Surname)</h4><br />
            <h6><b>@Html.DisplayNameFor(model=>model.Username):</b> @Model.Username</h6>
            <h6><b>@Html.DisplayNameFor(model => model.Email):</b> @Model.Email</h6>
            <a href="#">More..</a>
        </div>
        
    </div>
</div>

